<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Student</title>
</head>
<body>
<h2>Edit Student</h2>
<form th:action="@{'/students/update/' + ${student.id}}" th:object="${student}" method="post">
    Name: <input type="text" th:field="*{name}" required /><br/>
    Email: <input type="email" th:field="*{email}" required /><br/>
    Department: <input type="text" th:field="*{department}" required /><br/>
    <button type="submit">Update</button>
</form>
<br/>
<a href="/students">Back to List</a>
</body>
</html>
